@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "./components/Header/header.css";
@import "./pages/HomePage/homePage.css";
@import "./pages/NotFoundPage/notFoundPage.css";
@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(135deg, lightgray, var(--space-blue));
}
