@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";
@import "./components/Header/header.css";
@import "./components/AboutPage/aboutPage.css";
@import "./components/ApodImage/apodImage.css";
@import "./pages/HomePage/homePage.css";
@import "./pages/NotFoundPage/notFoundPage.css";
@import "./pages/AstronomyPage/astronomyPage.css";
@import "./components/PreviousApodImages/PreviousApodImages.css";
@import "./pages/ApodDetailsPage/apodDetailsPage.css";
@import "./components/MuiComponents/ApodDetails/apodDetails.css";
@import "./pages/MarsRoverPage/marsRoverPage.css";
@import "./pages/MarsDetailsPage/marsDetailsPage.css";
@import "./components/MuiComponents/MarsDetailsCard/marsDetailsCard.css";
@import "./components/NeoList/neoList.css";
@import "./components/NeoCard/neoCard.css";
@import "./components/Faq/faq.css";
@import "./pages/NeoPage/neoPage.css";
@import "./components/RechartsComponents/BarChart/neoChart.css";
@import "./components/RechartsComponents/ScatterChart/neoScatterChart.css";
@import "./pages/EarthImageryPage/earthImageryPage.css";
@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background: linear-gradient(to right, lightgray, var(--space-blue)); */
  background-color: var(--space-blue);
  /* background-color: black; */
  /* background-color: white; */
}
