@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import "tailwindcss";
@import "./components/Header/header.css";
@import "./components/HomePageComponents/AboutSection/aboutSection.css";
@import "./components/ApodPageComponents/ApodImage/apodImage.css";
@import "./pages/HomePage/homePage.css";
@import "./pages/NotFoundPage/notFoundPage.css";
@import "./pages/ApodPage/apodPage.css";
@import "./components/ApodPageComponents/PreviousApodImages/PreviousApodImages.css";
@import "./pages/ApodDetailsPage/apodDetailsPage.css";
@import "./components/ApodPageComponents/ApodDetails/apodDetails.css";
@import "./pages/MarsRoverPage/marsRoverPage.css";
@import "./pages/MarsDetailsPage/marsDetailsPage.css";
@import "./components/MarsRoverPageComponents/MarsDetailsCard/marsDetailsCard.css";
@import "./components/NeoPageComponents/NeoList/neoList.css";
@import "./components/NeoPageComponents/NeoCard/neoCard.css";
@import "./components/HomePageComponents/Faq/faq.css";
@import "./pages/NeoPage/neoPage.css";
@import "./components/NeoPageComponents/RechartsComponents/BarChart/neoChart.css";
@import "./components/NeoPageComponents/RechartsComponents/ScatterChart/neoScatterChart.css";
@import "./pages/EarthImageryPage/earthImageryPage.css";
@import "./components/HomePageComponents/HomePageLoader/homePageLoader.css";
@import "./components/MarsRoverPageComponents/PaginationButtons/paginationButtons.css";
@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
