.about-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 50px;
  padding-top: 150px;
  align-items: center;
  background-color: white;
}

.about-page__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: auto;
  color: var(--galaxy-teal);
  text-align: center;
}
.about-page__heading h3 {
  font-size: 20px;
}
.about-page__heading h2 {
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.5px;
  margin: 10px 0 40px;
}
.about-page__heading p {
  font-size: 20px;
  width: 90%;
  line-break: auto;
}

#sitting-astronaut {
  width: 100px;
  height: auto;
  position: absolute;
}
