.astronomy-page {
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-top: 100px;
  background-color: var(--space-blue);
  color: var(--text-white);
}
#gallery {
  margin-top: 100px;
}
