#earth-imagery-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: rgba(11, 11, 136, 0.822);
  padding-top: 100px;
  color: white;
}

#earth-imagery-page h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.satellite-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 100px;
}

#satellite-image-heading {
  font-size: 2rem;
  margin: 1rem 0;
  font-family: "Courier Prime", monospace;
}

.image-wrapper {
  width: auto;
  height: 50vh;
  margin-bottom: 100px;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#favorite-locations-list {
  margin-bottom: 50px;
}
