.rovers-gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 30px;
  justify-self: center;
  background-color: var(--space-blue);
  color: var(--text-white);
}

.rovers-heading {
  margin: 100px 0;
  font-size: 70px;
}
.gallery {
  width: 75%;
}
