.not-found-page {
  width: 100%;
  height: auto;
  position: relative;
}
.not-found-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-text h1 {
  position: absolute;
  font-size: 100px;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  color: white;
  font-size: 10rem;
  font-family: "Courier Prime", monospace;
}
.falling-text {
  position: absolute;
  color: white;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.button-navigation {
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin: 10px;
  transition: 0.7s;
  position: absolute;
}
.button-navigation:hover {
  background-color: var(--space-blue);
}

.button-home {
  bottom: 30%;
  left: 20%;
}
.button-last-location {
  bottom: 30%;
  right: 20%;
}

.astronaut {
  position: absolute;
  width: 100px;
  height: auto;
}
#basketball-astronaut {
  top: 19%;
  left: 47.5%;
}
#astronaut {
  top: 22%;
  left: 41%;
  rotate: 30deg;
  z-index: 1000;
}
#astronaut-comet {
  top: 20%;
  left: 20%;
}
#vespa-astronaut {
  bottom: 39%;
  right: 20%;
  rotate: 10deg;
}

@media (min-width: 1300px) and (max-width: 1600px) {
  #basketball-astronaut {
    top: 19%;
    left: 46.5%;
  }
  #astronaut {
    top: 22%;
    left: 39%;
  }
}
